* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open-sans, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}


/* header */

header ul li a {
  color: black;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header ul li {
  padding: 10px;
}

/* main */

.main-top {
  color: white;
  background-color: black;
  padding: 50px;
}

.main-bottom {
  background-color: rgb(70, 70, 255);
}

main ul li a {
  text-transform: uppercase;
  color: white;
  padding: 5px;
  vertical-align: middle;
}

main ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

main ul li {
  padding: 10px;
}

.main-bottom ul li img {
  width: 50px;
  vertical-align: middle;
}

.main-bottom ul li .locator-img {
  width: 40px;
}


/* footer */

.footer-top {
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer-top h3 {
  text-transform: uppercase;
  padding: 20px;
}

.footer-left {
  display: flex;
}

.footer-left ul li {
  font-size: 14px;
  color: rgb(184, 184, 184);
  padding: 5px 20px;
}

.footer-bg {
  background-image: url(./assets/img/footer-bg.jpg);
  background-size: cover;
}